[scriptEnv]

[data]
  {{- $name := promptString "name" -}}
  {{- $user := promptString "user" -}}
  {{- $email := promptString "email" -}}
  {{- $gpgsign := promptBool "gpgsign" false}}

  name = {{ $name | quote }}
  user = {{ $user | quote }}
  email = {{ $email | quote }}
  gpgsign = {{ $gpgsign }}

[keepassxc]
  {{- $database := promptString "database" -}}
  database = {{ $database | quote }}
