{{- if and (eq .chezmoi.os "linux") (.is_gnome) -}}
#!/bin/bash
set -e

##########################
# Install GNOME extensions
##########################
if conda info --envs | grep -q system
then
  source ~/miniconda3/etc/profile.d/conda.sh
  conda activate system
  if ! pip --version; then
    conda install -c conda-forge pip
  fi
  pip install --upgrade gnome-extensions-cli

  {{ if eq .chezmoi.os "linux" -}}
    {{ range .extensions.linux -}}
    gext install {{ . | quote }}
    {{ end -}}
  {{- end -}}
fi

#################
# Configure GNOME
#################
dconf load / <<EOF

[org/gnome/desktop/background]
color-shading-type='solid'
picture-options='zoom'
picture-uri='file://{{ .chezmoi.sourceDir }}/wallpapers/sailing_ship_greenland_icebergs_3440x1440.jpg'

[org/gnome/desktop/calendar]
show-weekdate=true

[org/gnome/desktop/interface]
clock-show-date=true
clock-show-weekday=true
clock-show-seconds=false
enable-hot-corners=false
show-battery-percentage=true

[org/gnome/desktop/media-handling]
autorun-never=true

[org/gnome/calendar]
active-view='month'

[apps/guake/general]
start-at-login=true
window-ontop=true

[apps/guake/keybindings/global]
show-hide='<Primary>grave'

# [org/gnome/clocks] world clocks

############################
# Configure GNOME extensions
############################
[org/gnome/shell]
disable-user-extensions=false
enabled-extensions=['dash-to-dock@micxgx.gmail.com',\
'caffeine@patapon.info',\
'sound-output-device-chooser@kgshank.net',\
'drive-menu@gnome-shell-extensions.gcampax.github.com',\
'places-menu@gnome-shell-extensions.gcampax.github.com',\
'clipboard-indicator@tudmotu.com']
favorite-apps=['brave-browser.desktop',\
'codium.desktop',\
'filezilla.desktop',\
'firefox_firefox.desktop',\
'org.gnome.Calculator.desktop',\
'org.gnome.Contacts.desktop',\
'org.gnome.Maps.desktop',\
'org.gnome.Terminal.desktop',\
'superproductivity_superproductivity.desktop',\
'telegramdesktop.desktop',\
'appimagekit-joplin.desktop',\
'org.keepassxc.KeePassXC.desktop']

[org/gnome/shell/extensions/caffeine]
user-enabled=true

[org/gnome/shell/extensions/dash-to-dock]
dock-position='BOTTOM'
intellihide-mode='FOCUS_APPLICATION_WINDOWS'
preferred-monitor=0
show-clock-all-monitors=false
show-favorites-all-monitors=false
show-status-menu-all-monitors=false
show-showdesktop-button=true
transparency-mode='DYNAMIC'

[org/gnome/shell/extensions/sound-output-device-chooser]
show-input-slider=false
hide-menu-icons=false

EOF

{{- end -}}
