{{- if .install_apps -}}
  #!/bin/bash

  # add keyrings
  # VSCodium
  wget -qO - https://gitlab.com/paulcarroty/vscodium-deb-rpm-repo/raw/master/pub.gpg \
    | gpg --dearmor \
    | sudo dd of=/usr/share/keyrings/vscodium-archive-keyring.gpg
  echo 'deb [signed-by=/usr/share/keyrings/vscodium-archive-keyring.gpg] https://download.vscodium.com/debs vscodium main' \
    | sudo tee /etc/apt/sources.list.d/vscodium.list

  # Brave browser
  sudo curl -fsSLo /usr/share/keyrings/brave-browser-archive-keyring.gpg https://brave-browser-apt-release.s3.brave.com/brave-browser-archive-keyring.gpg
  echo 'deb [signed-by=/usr/share/keyrings/brave-browser-archive-keyring.gpg] https://brave-browser-apt-release.s3.brave.com/ stable main' \
    | sudo tee /etc/apt/sources.list.d/brave-browser-release.list
  # sudo apt install brave-browser

  # Script to install Debian applications for new machine
  {{ if eq .chezmoi.os "linux" -}}
    sudo apt update && sudo apt upgrade
    {{ range .packages.linux.apt -}}
    sudo apt install {{ . | quote }}
    {{ end -}}
  {{- end -}}

  # atom
  # (blender)
  # sudo apt install calibre
  # sudo apt install digikam
  # double commander or filezilla
  # eternl
  # guake terminal
  # gnome-clocks
  # inkscape
  # joplin
  # klatexformula
  # ledgerlive
  # nordvpn
  # okular
  # (qgis)
  # (redshift)
  # slack
  # superproductivity
  # syncthing
  # teams
  # telegram
  # timeshift
  # tlp #(battery optimizer)
  # transmission
  # vlc
  # (xygrib)
  # zoom
  # zotero
{{- end -}}
