{{- if and (eq .chezmoi.os "linux") (.is_gnome) -}}
#!/bin/bash
set -e

##########################
# Install GNOME extensions
##########################
if conda info --envs | grep -q system
then
  source ~/miniconda3/etc/profile.d/conda.sh
  conda activate system
  if ! pip --version; then
    conda install -c conda-forge pip
  fi
  pip install --upgrade gnome-extensions-cli

  {{ if eq .chezmoi.os "linux" -}}
    {{ range .extensions.linux -}}
    gext install {{ . | quote }}
    {{ end -}}
  {{- end -}}
fi

#################
# Configure GNOME
#################
dconf load / <<EOF

[org/gnome/desktop/background]
color-shading-type='solid'
picture-options='zoom'
picture-uri='file://{{ .chezmoi.sourceDir }}/wallpapers/sailing_ship_greenland_icebergs_3440x1440.jpg'

[org/gnome/desktop/calendar]
show-weekdate=true

[org/gnome/desktop/interface]
clock-show-date=true
clock-show-weekday=true
clock-show-seconds=false
enable-hot-corners=false
show-battery-percentage=true

[org/gnome/desktop/media-handling]
autorun-never=true

[org/gnome/calendar]
active-view='month'

[org/gnome/Contacts]
did-initial-setup=true

[org/gnome/clocks]
world-clocks=[{'location': <(uint32 2, <('Amsterdam', 'EHAM', true, [(0.91280719879303418, 0.083194033496160544)], [(0.91367986341903151, 0.085812027374152042)])>)>}]

[org/gnome/Weather]
locations=[<(uint32 2, <('Hobart', 'YMHB', true, [(-0.74758269045314041, 2.5740697526652059)], [(-0.7490371431319971, 2.5714517587872145)])>)>]

[apps/guake/general]
start-at-login=true
window-ontop=true
window-height=35

[apps/guake/keybindings/global]
show-hide='<Primary>grave'

# [org/gnome/clocks] world clocks

############################
# Configure GNOME extensions
############################
[org/gnome/shell]
disable-user-extensions=false
enabled-extensions= [{{- range $index, $extension := .extensions.linux -}}{{if $index}}, {{end}}"{{ $extension }}"{{- end -}}]
favorite-apps=[{{- range $index, $favourite := .favourites.linux -}}{{if $index}}, {{end}}"{{ $favourite }}"{{- end -}}]

[org/gnome/shell/extensions/caffeine]
user-enabled=true

[org/gnome/shell/extensions/dash-to-dock]
dock-position='BOTTOM'
intellihide-mode='FOCUS_APPLICATION_WINDOWS'
preferred-monitor=0
show-clock-all-monitors=false
show-favorites-all-monitors=false
show-status-menu-all-monitors=false
show-showdesktop-button=true
transparency-mode='DYNAMIC'

[org/gnome/shell/extensions/sound-output-device-chooser]
show-input-slider=false
hide-menu-icons=false

EOF

{{- end -}}
