{{ if eq .chezmoi.os "linux" -}}
#!/bin/bash

sudo apt update && sudo apt upgrade

sudo add-apt-repository ppa:phoerious/keepassxc -y
sudo apt update
sudo apt install keepassxc -y
sudo apt install wl-clipboard -y

echo "{{- keepassxcAttachment "id_ed25519" "id_ed25519.pub" -}}" > {{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub

{{- end -}}