{{- if and (eq .chezmoi.os "linux") (.is_gnome) -}}
#!/bin/bash
set -e

##########################
# Install GNOME extensions
##########################
if conda --version
then
  source ~/miniconda3/etc/profile.d/conda.sh
  conda activate system
  pip3 install --upgrade gnome-extensions-cli

  {{ if eq .chezmoi.os "linux" -}}
    {{ range .extensions.linux -}}
    sudo gext install {{ . | quote }}
    {{ end -}}
  {{- end -}}
fi

#################
# Configure GNOME
#################
dconf load / <<EOF

[org/gnome/desktop/background]
color-shading-type='solid'
picture-options='zoom'
picture-uri='file://{{ .chezmoi.homeDir }}/Pictures/wallpapers/1711-burkard-04142.jpg'

[org/gnome/desktop/calendar]
show-weekdate=true

[org/gnome/desktop/interface]
clock-show-date=true
clock-show-weekday=true
clock-show-seconds=false
enable-hot-corners=false
show-battery-percentage=true

[org/gnome/desktop/media-handling]
autorun-never=true

[org/gnome/calendar]
active-view='month'

# [org/gnome/clocks] world clocks

############################
# Configure GNOME extensions
############################
[org/gnome/shell]
disable-user-extensions=false
enabled-extensions=['dash-to-dock@micxgx.gmail.com',\
'caffeine@patapon.info',\
'sound-output-device-chooser@kgshank.net',\
'drive-menu@gnome-shell-extensions.gcampax.github.com',\
'places-menu@gnome-shell-extensions.gcampax.github.com',\
'clipboard-indicator@tudmotu.com',\
'cpupower@mko-sl.de']
favorite-apps=['brave-browser.desktop',\
'codium.desktop',\
'filezilla.desktop',\
'firefox.desktop',\
'org.gnome.Calculator',\
'org.gnome.Contacts',\
'org.gnome.Maps',\
'org.gnome.Terminal',\
'org.keepassxc.KeePassXC.desktop']

[org/gnome/shell/extensions/caffeine]
user-enabled=true

[org/gnome/shell/extensions/dash-to-dock]
dock-position='BOTTOM'
intellihide-mode='FOCUS_APPLICATION_WINDOWS'
preferred-monitor=0
# panel-size=26
# show-clock-all-monitors=false
# show-favorites-all-monitors=false
# show-status-menu-all-monitors=false
# show-showdesktop-button=true
# trans-panel-opacity=0.6

[org/gnome/shell/extensions/sound-output-device-chooser]
show-input-slider=false
hide-menu-icons=false

EOF

{{- end -}}
