{{- $codespaces:= env "CODESPACES" | not | not -}}

{{- $name := "Jan Jaap Meijer" -}}
{{- $email := "" -}}
{{- $storeSecrets := false -}}
{{- $database := "" -}}
{{- $installApps := false -}}


sourceDir: {{ .chezmoi.sourceDir | quote }}
verbose: true

data:
  codespaces: {{ $codespaces }}

  name: {{ $name | quote }}
  email: {{ $email | quote }}

  store_secrets: {{ $storeSecrets }}
  install_apps: {{ $installApps }}

keepassxc:
  database: {{ $database | quote }}
