{{- if .store_secrets -}}

Host *
  IdentityFile {{ .chezmoi.homeDir }}/.ssh/id_ed25519.pub

Host cfas
  Hostname cfas.climatefutures.cloud.edu.au
  User {{ (keepassxc "cfas").UserName }}

Host gadi
  Hostname gadi.nci.org.au
  User {{ (keepassxc "nci").UserName }}

Host github.com
  User git
  PreferredAuthentications publickey

{{ end -}}
